body {
    margin: 0;
    padding: 0;
    background: rgb(255, 255, 255);
}

.container {
    width: 470px;
    height: 600px;
    background-image: url('bg.png');
    background-size: cover;
    background-position: center;
    border: 4px solid rgb(47, 106, 10);
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    padding: 30px;
    margin: 40px auto;
}


h1 {
    color: rgb(35, 73, 38);
    margin-bottom: 20px;
}

.highlight {
    background: darkseagreen;
}

.title-line {
    border: none;
    height: 3px;
    background-color: rgb(99, 145, 102);  
    width: 2xpx;
    margin: 0 0 15px 0;
}


.quote {
    background: rgb(153, 200, 159);
    border-left: 5px solid rgb(53, 114, 52);
    padding: 15px;
    margin: 25px 0;
    font-style: italic;
}

.author {
    display: flex;
    align-items: center;
    background: rgb(85, 105, 90);
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;

}

.aut-img {
    width: 70px;
    height: 80px;
    border-radius: 5px;
    margin-right: 15px;
    object-fit: cover;
}

.footer {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    background: rgb(96, 150, 91);
    color: white;
    padding: 12px 20px;
    border-radius: 6px;
    font-weight: bold;
}

.publisher {
    color: rgb(47, 86, 49);
}

footer{
    text-align: center;
    background-color:rgb(132, 185, 132);
    position: relative;
    bottom: 30px;

}

